
@model e_learning.Views.Instructor.ViewModels.StudioViewModel
@{
    ViewData["Title"] = "Studio";
}

<div data-instructor-studio-view class="inr_studio h-full w-full">
    <nav class="inr_studio-nav flex gap-2">
        <button data-create-lesson-view-button class="w-fit cursor-pointer border p-2 disabled:cursor-none @(Model.ActiveView==ActiveViewType.lesson?"inr-active-studio-view-button":"inr-inactive-studio-view-button")">Upload Video</button>
        <button data-create-lesson-playlist-view-button class="w-fit cursor-pointer border p-2 disabled:cursor-none @(Model.ActiveView==ActiveViewType.series?"inr-active-studio-view-button":"inr-inactive-studio-view-button")">Create Series</button>

    </nav>
    <!--Createlesson Section-->
    <div data-create-lesson-view class="@(Model.ActiveView==ActiveViewType.lesson ?"":"hidden") mt-2 h-full w-full">
        <partial name="Partials/_CreateLessonPartial" model="@Model.CreateLessonView" />
    </div>

    <!--Create Playlist Section-->
    <div data-create-lesson-playlist-view class="@(Model.ActiveView==ActiveViewType.series ?"":"hidden") mt-2 h-full w-full">
        <partial name="Partials/_CreateLessonPlaylistPartial" />
    </div>

    <partial name="Partials/_FloatingUploadPartial"/>
</div>